@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar,
.css-pefsdu-MuiList-root-MuiMultiSectionDigitalClockSection-root::-webkit-scrollbar {
	width: 5px;
	background-color: #463d12;
}

.scrollbar::-webkit-scrollbar-thumb,
.css-pefsdu-MuiList-root-MuiMultiSectionDigitalClockSection-root::-webkit-scrollbar-thumb {
	background-color: #463d12;
	border-radius: 20px;
	border: 3px solid #fdd835;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
